autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cssmin==0.2.0
Flask==1.0.2
Flask-Assets==0.12
Flask-HTMLmin==1.5.0
Flask-WTF==0.14.2
htmlmin==0.1.12
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jsmin==2.2.2
MarkupSafe==1.1.1
pycodestyle==2.5.0
requests==2.22.0
urllib3==1.25.3
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.2.1
