{% extends 'base.html' %}
{% block content %}

<div class="container">
    <section id="overview">
        <div class="valign-wrapper" style="min-height: 100vh;">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="hide-on-med-and-down">
                                <div class="row valign-wrapper" style="margin-bottom: 0%; min-height: 40vh;">
                                    <div class="col s12 m12 l3">
                                        <img src="/static/images/me/me_pic.JPG" alt="" class="responsive-img">
                                    </div>
                                
                                    <div class="col s12 m12 l9">
                                        <h3>Birtchum Thompson</h3>
                                        <p class="flow-text">
                                            I am a full-stack web developer with a diverse skill set and a passion for Linux. I operate a
                                            small web development company and have created and deployed applications for several clients,
                                            including Hillsborough Community College.
                                        </p>
                                
                                        <div class="row">
                                            <div class="col s12">
                                                <div class="section"></div>
                                                <a href="https://github.com/virtualzero" class="btn-flat btn-medium transparent waves-effect waves-purple button-hover no-left-padding"
                                                    target="_blank">
                                                    <i class="fab fa-github"></i> &nbsp;GitHub 
                                                </a>
                                
                                                <a href="https://www.linkedin.com/in/birtchum/"
                                                    class="btn-flat btn-medium transparent waves-effect waves-purple button-hover" target="_blank">
                                                    <i class="fab fa-linkedin"></i> &nbsp;LinkedIn 
                                                </a>

                                                <a href="https://www.linkedin.com/in/birtchum/"
                                                    class="btn-flat btn-medium transparent waves-effect waves-purple button-hover" target="_blank">
                                                    <i class="fas fa-file"></i> &nbsp;Resume 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hide-on-large-only center">
                                <div class="row">
                                    <div class="col s12 m12 l3">
                                        <img src="/static/images/me/me_pic.JPG" alt="" class="circle" style="max-height: 30vh; width: auto;">
                                        <h4>Birtchum Thompson</h4>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 0%;">
                                    <div class="col s12">
                                        <p class="flow-text">
                                            I am a full-stack web developer with a diverse skill set and a passion for Linux. I operate a
                                            small web development company and have created and deployed applications for several clients,
                                            including Hillsborough Community College.
                                        </p>
                                    </div>

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="section"></div>
                                            <div class="row">
                                                <div class="col s4 m4">
                                                    <a href="https://github.com/virtualzero"
                                                        class="btn-flat btn-medium transparent waves-effect waves-purple button-hover" target="_blank">
                                                        <i class="fab fa-github"></i> &nbsp;GitHub
                                                    </a>
                                                </div>

                                                <div class="col s4 m4">
                                                    <a href="https://www.linkedin.com/in/birtchum/"
                                                        class="btn-flat btn-medium transparent waves-effect waves-purple button-hover" target="_blank">
                                                        <i class="fab fa-linkedin"></i> &nbsp;LinkedIn
                                                    </a>
                                                </div>

                                                <div class="col s4 m4">
                                                    <a href="https://www.linkedin.com/in/birtchum/"
                                                        class="btn-flat btn-medium transparent waves-effect waves-purple button-hover" target="_blank">
                                                        <i class="fas fa-file"></i> &nbsp;Resume
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience">
        <div class="valign-wrapper" style="min-height: 100vh;">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h3>Experience</h3>
                                    <p class="flow-text">
                                        I primarily use Python/Flask for web development projects. My typical stack consists of the 
                                        following technologies:
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <p class="flow-text">
                                        <strong>
                                            Database:
                                        </strong>
                                        MySQL, MariaDB
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            ORM:
                                        </strong>
                                        SQLAlchemy
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Back End:
                                        </strong>
                                        Python
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Web Framework:
                                        </strong>
                                        Flask
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Front End:
                                        </strong>
                                        HTML, CSS, Javascript, jQuery
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Front End Framework:
                                        </strong>
                                        Materialize, Bootstrap 4
                                    </p>
                                </div>

                                <div class="col s12 m6 l6">
                                    <p class="flow-text">
                                        <strong>
                                            Hosting:
                                        </strong>
                                        AWS EC2
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Servers:
                                        </strong>
                                        Debian, Ubuntu
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            WSGI:
                                        </strong>
                                        Gunicorn
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Web Server:
                                        </strong>
                                        Nginx
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            SSL:
                                        </strong>
                                        Let's Encrypt
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <p class="flow-text">
                                        Other experience includes:
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <p class="flow-text">
                                        <strong>
                                            API Creation:
                                        </strong>
                                        RESTful
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Version Control:
                                        </strong>
                                        Git, TFS
                                    </p>
                                    
                                    <p class="flow-text">
                                        <strong>
                                            Web Security:
                                        </strong>
                                        CSRF, SSL, Data Encryption
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            AWS:
                                        </strong>
                                        SES, S3
                                    </p>
                            
                                    <p class="flow-text">
                                        <strong>
                                            Email:
                                        </strong>
                                        Automation, SMTP
                                    </p>
                            
                                    <p class="flow-text">
                                        <strong>
                                            Domains/DNS:
                                        </strong>
                                        Google Domains, GoDaddy, Bluehost
                                    </p>
                            
                                    <p class="flow-text">
                                        <strong>
                                            Networking/Security:
                                        </strong>
                                        pfSense, UFW, SSL, SSH
                                    </p>
                                </div>
                            
                                <div class="col s12 m6 l6">
                                    <p class="flow-text">
                                        <strong>
                                            IDE/Apps:
                                        </strong>
                                        VSCode, Postman
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Virtualization:
                                        </strong>
                                        XenServer, VMware, Virtualbox
                                    </p>
                            
                                    <p class="flow-text">
                                        <strong>
                                            Servers:
                                        </strong>
                                        Windows, CentOS
                                    </p>
                            
                                    <p class="flow-text">
                                        <strong>
                                            Desktop OS:
                                        </strong>
                                        Debian, Ubuntu, Fedora, Windows
                                    </p>
                            
                                    <p class="flow-text">
                                        <strong>
                                            Languages:
                                        </strong>
                                        Regex, Bash, C, C++, C#
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            VPN:
                                        </strong>
                                        OpenVPN
                                    </p>

                                    <p class="flow-text">
                                        <strong>
                                            Specialized Skills:
                                        </strong>
                                        Robotic Process Automation
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="creds">
        <div class="valign-wrapper" style="min-height: 100vh;">
            <div class="card">
                <h1>Hello</h1>
            </div>
        </div>
    </section>

    <section id="apps">
        <div class="valign-wrapper" style="min-height: 100vh;">
            <div class="card">
                <h1>Hello</h1>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="valign-wrapper" style="min-height: 100vh;">
            <div class="card">
                <h1>Hello</h1>
            </div>
        </div>
    </section>
</div>

{% endblock %}