<section id="apps">
    <div class="valign-wrapper full-height">
        <div class="row no-bottom-padding">
            <div class="col s12">
                <div class="card" style="width: 100% !important;">
                    <div class="card-content flow-text">
                        <div class="row">
                            <div class="col s12">
                                <h3 class="center">Apps & APIs</h3>
                                <p>
                                    A few of my open source web apps, APIs, and console apps/scripts are listed below with links to try them out. My largest, 
                                    most recent, and featured side project is Snypit.
                                </p>
                            </div>
                        </div>
        
                        <div class="hide-on-med-and-down">
                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Featured</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <a href="https://snypit.app/" target="_blank" style="text-decoration: underline;">Snypit</a> is a modern, code snippet management system built with Flask. Snypit enables registered users to quickly save and retrieve code snippets for their projects,
                                    while offering the benefits of language-specific syntax highlighting and over 50 popular code editor themes.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <div class="slider">
                                        <ul class="slides">
                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-login.png" target="_blank" >
                                                    <img src="/static/images/snypit/large/snypit-login.png">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-search-results.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-search-results.png">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-account.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-account.png">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-dashboard.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-dashboard.png">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-new-snippet.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-new-snippet.png">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Technologies</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <ul class="collection with-header">
                                        <li class="collection-item"><p>Python</p></li>
                                        <li class="collection-item"><p>Flask</p></li>
                                        <li class="collection-item"><p>JavaScript</p></li>
                                        <li class="collection-item"><p>AJAX</p></li>
                                        <li class="collection-item"><p>Materialize</p></li>
                                        <li class="collection-item"><p>MySQL</p></li>
                                        <li class="collection-item"><p>SQLAlchemy & PyMySQL</p></li>
                                        <li class="collection-item"><p>CodeMirror</p></li>
                                    </ul>
                                </div>

                                <div class="col s12 m6 l6">
                                    <ul class="collection with-header">
                                        <li class="collection-item"><p>Regular Expressions</p></li>
                                        <li class="collection-item"><p>API Consumption</p></li>
                                        <li class="collection-item"><p>Password Hashing</p></li>
                                        <li class="collection-item"><p>Security Tokens</p></li>
                                        <li class="collection-item"><p>CSRF Protection</p></li>
                                        <li class="collection-item"><p>Session Management</p></li>
                                        <li class="collection-item"><p>Web Assets/Minification</p></li>
                                        <li class="collection-item"><p>Anaconda/Pip</p></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Features/Capabilities</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <ul class="collection with-header">
                                        <li class="collection-item"><p>50+ Code Editor Themes</p></li>
                                        <li class="collection-item"><p>Pinned Snippets</p></li>
                                        <li class="collection-item"><p>Popular Snippets</p></li>
                                        <li class="collection-item"><p>Create, Read, Update, Delete Snippets</p></li>
                                        <li class="collection-item"><p>Easy-Access Side Bar</p></li>
                                        <li class="collection-item"><p>Search Functionality</p></li>
                                    </ul>
                                </div>

                                <div class="col s12 m6 l6">
                                    <ul class="collection with-header">
                                        <li class="collection-item"><p>Account Creation</p></li>
                                        <li class="collection-item"><p>Recent Snippets</p></li>
                                        <li class="collection-item"><p>Snippet Quick Copy</p></li>
                                        <li class="collection-item"><p>Email Confirmation/Forgot Password</p></li>
                                        <li class="collection-item"><p>Syntax Highlighting</p></li>
                                        <li class="collection-item"><p>Update Account Settings</p></li>
                                    </ul>
                                    <div class="section"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Actions</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <a href="https://snypit.app/" class="black-text button-hover btn-flat grey lighten-4 center" target="_blank" style="width: 100% !important">
                                        <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                    </a>
                                    <div class="section"></div>
                                </div>

                                <div class="col s12 m6 l6">
                                    <a href="https://github.com/VirtualZero/Snypit"
                                        class="black-text button-hover btn-flat grey lighten-4 center" target="_blank" style="width: 100% !important">
                                        <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                    </a>
                                    <div class="section"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 center">
                                    <hr>
                                    <div class="section"></div>
                                    <h4>Web Apps</h4>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">VZTabs</span>
                                            <div class="section">
                                                <p class="app-desc-text">VZTabs allows you to create modern, custom, and clutter-free start and new tab pages. Complete
                                                    with Google Search
                                                    functionality, VZTabs displays the time, date, local weather, and a warm greeting message.</p>
                                            </div>
                                            <a href="https://vztabs.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">RPG</span>
                                            <div class="section">
                                                <p class="app-desc-text">RPG is a web application used to create strong, secure passwords. RPG leverages the Python secrets module to
                                                generte cryptographically strong, random strings suitable for passwords, user authentication, and security tokens.</p>
                                            </div>
                                            <a href="https://rpg.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Ports</span>
                                            <div class="section">
                                                <p class="app-desc-text">A modern solution for determining a port status of a web server. Enter the URL or IP address of the
                                                server and the port to scan. Ports leverages the power of the network mapping utility, Nmap, to scan and determine the
                                                target port's status.</p>
                                            </div>
                                            <a href="https://ports.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">GetIP</span>
                                            <div class="section">
                                                <p class="app-desc-text">A quick and easy solution for retrieving IP addresses of online servers. GetIP uses the Linux network adminstration
                                                tool, Dig (Domain Information Groper), to query DNS servers and fetch server IP addresses connected to domain names.</p>
                                            </div>
                                            <a href="https://getip.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">C3</span>
                                            <div class="section">
                                                <p class="app-desc-text">A quick and easy solution for converting hexidecimal color codes to RGB or RGB color codes to hexidecimal. C3 is an
                                                invaluable tool for web developers or graphic designers.</p>
                                            </div>
                                            <a href="https://c3.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Donations</span>
                                            <div class="section">
                                                <p class="app-desc-text">Donations is a web app used for my open-source projects to collect donations from 
                                                    supportive application users. It features two payment methods, PayPal and Credit Cards via Stripe.
                                                </p>
                                            </div>
                                            <a href="https://donate.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12 center">
                                    <div class="section"></div>
                                    <h4>APIs</h4>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">GeoAPI</span>
                                            <div class="section">
                                                <p class="app-desc-text">GeoAPI is a RESTful API that provides geolocation functionality to independent applications. The API returns geodata linked to an
                                                IP address by leveraging the MaxMind GeoLite2 database.
                                                </p>
                                            </div>
                                            <a href="https://geoapi.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket orange-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Datetime-Utils-API</span>
                                            <div class="section">
                                                <p class="app-desc-text">Datetime-Utils-API is a RESTful API that provides datetime formatting, timezone conversion, and datetime calculation services to independent
                                                applications.
                                                </p>
                                            </div>
                                            <a href="https://datetimeapi.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket orange-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">VZLink</span>
                                            <div class="section">
                                                <p class="app-desc-text">VZLink is an API & web application used to create short, memorable links to replace those long, and often impossible to remember, links to your
                                                favorite places on the web.
                                                </p>
                                            </div>
                                            <a href="https://vzl.ink/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket orange-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12 center">
                                    <div class="section"></div>
                                    <h4>Console Apps/Scripts</h4>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Web Server Scanner</span>

                                            <div class="section">
                                                <p class="app-desc-text">
                                                    A Python console application that monitors a list of web servers. The application will send notifications if a web server returns
                                                    an undesirable response code.
                                                </p>
                                            </div>
                                            
                                            <a href="https://github.com/VirtualZero/web-server-status-console"
                                                class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">AWS EC2 Manager</span>
                                            
                                            <div class="section">
                                                <p class="app-desc-text">
                                                    A Python console script that enables AWS users to manage their EC2 instances conveniently from any terminal. 
                                                </p>
                                            </div>

                                            <a href="https://github.com/VirtualZero/manage-aws-ec2-instances"
                                                class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col s12 m12 l4">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Password Manager</span>

                                            <div class="section">
                                                <p class="app-desc-text">
                                                    A Python console application used to securely manage passwords. The password manager leverages SQLite and PGP
                                                    encryption for a perfect balance of performance and security.
                                                </p>
                                            </div>
                                    
                                            <a href="https://github.com/VirtualZero/py-pw" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <div class="section"></div>
                                    <p>Get the code for this website on <a href="https://github.com/VirtualZero/get-the-job" style="text-decoration: underline;" target="_blank">GitHub</a> too!  
                                </div>
                            </div>
                        </div>

<!--Mobile Section-->

                        <div class="hide-on-large-only">
                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Featured</h4>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12">
                                    <p>
                                        <a href="https://snypit.app/" target="_blank" style="text-decoration: underline;">Snypit</a> is a modern, code snippet
                                        management system built with Flask. Snypit enables registered users to quickly
                                        save and retrieve code snippets for their projects,
                                        while offering the benefits of language-specific syntax highlighting and over 50 popular code editor themes.
                                    </p>
                                </div>
                            </div>

                            <div class="row hide-on-small-only">
                                <div class="col s12">
                                    <div class="slider">
                                        <ul class="slides">
                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-login.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-login.png">
                                                </a>
                                            </li>
                                            
                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-search-results.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-search-results.png">
                                                </a>
                                            </li>
                                            
                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-account.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-account.png">
                                                </a>
                                            </li>
                                            
                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-dashboard.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-dashboard.png">
                                                </a>
                                            </li>
                                            
                                            <li class="hoverable">
                                                <a href="/static/images/snypit/large/snypit-new-snippet.png" target="_blank">
                                                    <img src="/static/images/snypit/large/snypit-new-snippet.png">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row hide-on-med-only">
                                <div class="col s12">
                                    <div class="slider">
                                        <ul class="slides">
                                            <li class="hoverable">
                                                <a href="/static/images/snypit/mobile/snypit-login.png" target="_blank">
                                                    <img src="/static/images/snypit/mobile/snypit-login.png" class="responsive-img">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/mobile/snypit-search-results.png" target="_blank" class="responsive-img">
                                                    <img src="/static/images/snypit/mobile/snypit-search-results.png">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/mobile/snypit-dashboard2.png" target="_blank" class="responsive-img">
                                                    <img src="/static/images/snypit/mobile/snypit-dashboard2.png">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/mobile/snypit-dashboard1.png" target="_blank" class="responsive-img">
                                                    <img src="/static/images/snypit/mobile/snypit-dashboard1.png">
                                                </a>
                                            </li>

                                            <li class="hoverable">
                                                <a href="/static/images/snypit/mobile/snypit-account.png" target="_blank" class="featured-app-img">
                                                    <img src="/static/images/snypit/mobile/snypit-account.png">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Technologies</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <ul class="collection">
                                        <li class="collection-item"><p>Python</p></li>
                                        <li class="collection-item"><p>Flask</p></li>
                                        <li class="collection-item"><p>JavaScript</p></li>
                                        <li class="collection-item"><p>AJAX</p></li>
                                        <li class="collection-item"><p>Materialize</p></li>
                                        <li class="collection-item"><p>MySQL</p></li>
                                        <li class="collection-item"><p>SQLAlchemy & PyMySQL</p></li>
                                        <li class="collection-item"><p>CodeMirror</p></li>
                                        <li class="collection-item"><p>Regular Expressions</p></li>
                                        <li class="collection-item"><p>API Consumption</p></li>
                                        <li class="collection-item"><p>Password Hashing</p></li>
                                        <li class="collection-item"><p>Security Tokens</p></li>
                                        <li class="collection-item"><p>CSRF Protection</p></li>
                                        <li class="collection-item"><p>Session Management</p></li>
                                        <li class="collection-item"><p>Web Assets/Minification</p></li>
                                        <li class="collection-item"><p>Anaconda/Pip</p></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Features/Capabilities</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <ul class="collection">
                                        <li class="collection-item"><p>50+ Code Editor Themes</p></li>
                                        <li class="collection-item"><p>Pinned Snippets</p></li>
                                        <li class="collection-item"><p>Popular Snippets</p></li>
                                        <li class="collection-item"><p>Create, Read, Update, Delete Snippets</p></li>
                                        <li class="collection-item"><p>Easy-Access Side Bar</p></li>
                                        <li class="collection-item"><p>Search Functionality</p></li>
                                        <li class="collection-item"><p>Account Creation</p></li>
                                        <li class="collection-item"><p>Recent Snippets</p></li>
                                        <li class="collection-item"><p>Snippet Quick Copy</p></li>
                                        <li class="collection-item"><p>Email Confirmation/Forgot Password</p></li>
                                        <li class="collection-item"><p>Syntax Highlighting</p></li>
                                        <li class="collection-item"><p>Update Account Settings</p></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Actions</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <a href="https://snypit.app/" class="black-text button-hover btn-flat grey lighten-4 center" target="_blank" style="width: 100% !important">
                                        <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                    </a>
                                    <div class="section"></div>
                                </div>

                                <div class="col s6 m6 l6">
                                    <a href="https://github.com/VirtualZero/Snypit"
                                        class="black-text button-hover btn-flat grey lighten-4 center" target="_blank" style="width: 100% !important">
                                        <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                    </a>
                                    <div class="section"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12 center">
                                    <hr>
                                    <div class="section"></div>
                                    <h4>Web Apps</h4>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">VZTabs</span>
                                            <div class="section">
                                                <p class="app-desc-text">VZTabs allows you to create modern, custom, and clutter-free start and new tab
                                                    pages. Complete
                                                    with Google Search
                                                    functionality, VZTabs displays the time, date, local weather, and a warm greeting message.</p>
                                            </div>
                                            <a href="https://vztabs.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4"
                                                target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">RPG</span>
                                            <div class="section">
                                                <p class="app-desc-text">RPG is a web application used to create strong, secure passwords. RPG leverages the
                                                    Python secrets module to
                                                    generte cryptographically strong, random strings suitable for passwords, user authentication, and
                                                    security tokens.</p>
                                            </div>
                                            <a href="https://rpg.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Ports</span>
                                            <div class="section">
                                                <p class="app-desc-text">A modern solution for determining a port status of a web server. Enter the URL or
                                                    IP address of the
                                                    server and the port to scan. Ports leverages the power of the network mapping utility, Nmap, to scan and
                                                    determine the
                                                    target port's status.</p>
                                            </div>
                                            <a href="https://ports.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4"
                                                target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">GetIP</span>
                                            <div class="section">
                                                <p class="app-desc-text">A quick and easy solution for retrieving IP addresses of online servers. GetIP uses
                                                    the Linux network adminstration
                                                    tool, Dig (Domain Information Groper), to query DNS servers and fetch server IP addresses connected to
                                                    domain names.</p>
                                            </div>
                                            <a href="https://getip.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4"
                                                target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">C3</span>
                                            <div class="section">
                                                <p class="app-desc-text">A quick and easy solution for converting hexidecimal color codes to RGB or RGB
                                                    color codes to hexidecimal. C3 is an
                                                    invaluable tool for web developers or graphic designers.</p>
                                            </div>
                                            <a href="https://c3.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                    <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Donations</span>
                                            <div class="section">
                                                <p class="app-desc-text">Donations is a web app used for my open-source projects to collect donations from
                                                    supportive application users. It features two payment methods, PayPal and Credit Cards via Stripe.
                                                </p>
                                            </div>
                                            <a href="https://donate.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4"
                                                target="_blank">
                                                <i class="fas fa-rocket blue-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12 center">
                                    <div class="section"></div>
                                    <h4>APIs</h4>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">GeoAPI</span>
                                            <div class="section">
                                                <p class="app-desc-text">GeoAPI is a RESTful API that provides geolocation functionality to independent
                                                    applications. The API returns geodata linked to an
                                                    IP address by leveraging the MaxMind GeoLite2 database.
                                                </p>
                                            </div>
                                            <a href="https://geoapi.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4"
                                                target="_blank">
                                                <i class="fas fa-rocket orange-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Datetime-Utils-API</span>
                                            <div class="section">
                                                <p class="app-desc-text">Datetime-Utils-API is a RESTful API that provides datetime formatting, timezone
                                                    conversion, and datetime calculation services to independent
                                                    applications.
                                                </p>
                                            </div>
                                            <a href="https://datetimeapi.virtualzero.tech/" class="black-text button-hover btn-flat grey lighten-4"
                                                target="_blank">
                                                <i class="fas fa-rocket orange-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">VZLink</span>
                                            <div class="section">
                                                <p class="app-desc-text">VZLink is an API & web application used to create short, memorable links to replace
                                                    those long, and often impossible to remember, links to your
                                                    favorite places on the web.
                                                </p>
                                            </div>
                                            <a href="https://vzl.ink/" class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fas fa-rocket orange-text"></i> &nbsp;Launch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12 center">
                                    <div class="section"></div>
                                    <h4>Console Apps/Scripts</h4>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Web Server Scanner</span>

                                            <div class="section">
                                                <p class="app-desc-text">
                                                    A Python console application that monitors a list of web servers. The application will send notifications if a web server returns
                                                    an undesirable response code.
                                                </p>
                                            </div>
                                    
                                            <a href="https://github.com/VirtualZero/web-server-status-console"
                                                class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">AWS EC2 Manager</span>

                                            <div class="section">
                                                <p class="app-desc-text">
                                                    A Python console script that enables AWS users to manage their EC2 instances conveniently from any terminal.
                                                </p>
                                            </div>
                                    
                                            <a href="https://github.com/VirtualZero/manage-aws-ec2-instances"
                                                class="black-text button-hover btn-flat grey lighten-4" target="_blank">
                                                <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="card transparent z-depth-0">
                                        <div class="card-content">
                                            <span class="card-title">Password Manager</span>

                                            <div class="section">
                                                <p class="app-desc-text">
                                                    A Python console application used to securely manage passwords. The password manager leverages SQLite and PGP encryption for a perfect balance of performance and security.
                                                </p>
                                            </div>
                                    
                                            <a href="https://github.com/VirtualZero/py-pw" class="black-text button-hover btn-flat grey lighten-4"
                                                target="_blank">
                                                <i class="fab fa-github red-text"></i> &nbsp;GitHub
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <div class="section"></div>
                                    <p>Get the code for this website on <a href="https://github.com/VirtualZero/get-the-job" style="text-decoration: underline;" target="_blank">GitHub</a> too!  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems, {
                'height': 500
            });
        });
</script>