<section id="apps">
    <div class="valign-wrapper full-height">
        <div class="card">
            <div class="card-content flow-text">
                <div class="row">
                    <div class="col s12">
                        <h3>Apps & APIs</h3>
                        <p>
                            A few of my open source web apps, APIs, and console apps/scripts are listed below with links to try them out. 
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <p><strong>Web Apps</strong></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l4">
                        <p>
                            Color Code Converter
                        </p>
                        <a href="https://c3.virtualzero.tech/"
                            class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>
                            Password Generator
                        </p>
                        <a href="https://rpg.virtualzero.tech/"
                            class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>
                            Port Checker
                        </p>
                        <a href="https://ports.virtualzero.tech/"
                            class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l4">
                        <p>
                            IP Address Lookup
                        </p>
                        <a href="https://getip.virtualzero.tech/"
                            class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>
                            Donation App
                        </p>
                        <a href="https://donate.virtualzero.tech/"
                            class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>
                            Browser Startpage
                        </p>
                        <a href="https://startpage.virtualzero.tech/"
                            class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="section"></div>
                        <p><strong>APIs</strong></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l4">
                        <p>Geodata API</p>
                        <a href="https://geoapi.virtualzero.tech/" class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>Datetime Utils API</p>
                        <a href="https://geoapi.virtualzero.tech/" class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>Link Shortener API</p>
                        <a href="https://vzl.ink/api/v1/" class="black-text button-hover verify-text" target="_blank">
                            <i class="fas fa-rocket"></i> &nbsp;Launch
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="section">
                            <p><strong>Console Apps/Scripts</strong></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l4">
                        <p>Web Server Scanner</p>
                        <a href="https://github.com/VirtualZero/web-server-status-console" class="black-text button-hover verify-text" target="_blank">
                            <i class="fab fa-github"></i> &nbsp;GitHub
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>AWS EC2 Manager</p>
                        <a href="https://github.com/VirtualZero/manage-aws-ec2-instances" class="black-text button-hover verify-text"
                            target="_blank">
                            <i class="fab fa-github"></i> &nbsp;GitHub
                        </a>
                    </div>

                    <div class="col s12 m12 l4">
                        <p>Password Manager</p>
                        <a href="https://github.com/VirtualZero/py-pw" class="black-text button-hover verify-text"
                            target="_blank">
                            <i class="fab fa-github"></i> &nbsp;GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>