<section id="creds">
    <div class="valign-wrapper full-height">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content flow-text">
                        <div class="row">
                            <div class="col s12">
                                <h3>Credentials</h3>
                                <p>
                                    I am actively pursuing, and almost completed with, my AS degree 
                                    in Computer Programming and Analysis from Hillsborough Community 
                                    College. I also hold Microsoft Technology Associate certifications 
                                    in the following fields:
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 l4 ">
                                <p>
                                    <strong>
                                        Introduction to Programming Using Python
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/7e14b5c6-584a-4687-89d9-482136122d7f"
                                        class="black-text button-hover " style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> &nbsp;Verify
                                    </a>
                                </p>
                            </div>
                            
                            <div class="col s12 m6 l4 ">
                                <p>
                                    <strong>
                                        Introduction to Programming Using HTML and CSS
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/469cc9a3-9c80-41bc-9b39-bf966fcf15de"
                                        class="black-text button-hover " style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> Verify &nbsp;
                                    </a>
                                </p>
                            </div>
                            
                            <div class="col s12 m6 l4">
                                <p>
                                    <strong>
                                        Windows Server Administration Fundamentals
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/f1a57c39-b4f6-458d-8b22-8ce7e4712bd3"
                                        class="black-text button-hover " style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> &nbsp;Verify
                                    </a>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 l4 ">
                                <p>
                                    <strong>
                                        Security Fundamentals
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/bb260c8a-8701-4ca8-887f-f4d5de7dceeb"
                                        class="black-text button-hover " style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> &nbsp;Verify
                                    </a>
                                </p>
                            </div>
                            
                            <div class="col s12 m6 l4 ">
                                <p>
                                    <strong>
                                        Networking Fundamentals
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/7454832a-f215-4623-8966-6e04757bf9b5"
                                        class="black-text button-hover " style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> &nbsp;Verify
                                    </a>
                                </p>
                            </div>
                            
                            <div class="col s12 m6 l4 ">
                                <p>
                                    <strong>
                                        Database Fundamentals
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/81aaf95e-95b4-4978-b8e9-93873a452713"
                                        class="black-text button-hover " style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> &nbsp;Verify
                                    </a>
                                </p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12 m6 l4">
                                <p>
                                    <strong>
                                        Windows Operating System Fundamentals
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/f82584c9-3bd2-488e-90ad-cdf6896a85a7"
                                        class="black-text button-hover" style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> &nbsp;Verify
                                    </a>
                                </p>
                            </div>
                            
                            <div class="col s12 m6 l4 ">
                                <p>
                                    <strong>
                                        Mobility and Device Fundamentals
                                    </strong><br>
                                    <a href="https://www.youracclaim.com/badges/ef784b0e-9d2b-4c1e-b297-e41a23c2b934"
                                        class="black-text button-hover " style="font-size: 1.25rem" target="_blank">
                                        <i class="fas fa-external-link-square-alt"></i> &nbsp;Verify
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>