<section id="experience">
    <div class="valign-wrapper full-height">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content flow-text">
                        <div class="row">
                            <div class="col s12">
                                <h3>Experience</h3>
                                <p>
                                    I primarily use Python/Flask for web development projects. My typical stack consists
                                    of the following technologies:
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 l6">
                                <p>
                                    <strong>
                                        Database:
                                    </strong>
                                    MySQL, MariaDB
                                </p>

                                <p>
                                    <strong>
                                        ORM:
                                    </strong>
                                    SQLAlchemy
                                </p>

                                <p>
                                    <strong>
                                        Back End:
                                    </strong>
                                    Python
                                </p>

                                <p>
                                    <strong>
                                        Web Framework:
                                    </strong>
                                    Flask
                                </p>

                                <p>
                                    <strong>
                                        Front End:
                                    </strong>
                                    HTML, CSS, Javascript, Ajax, Query
                                </p>

                                <p>
                                    <strong>
                                        Front End Framework:
                                    </strong>
                                    Materialize, Bootstrap 4
                                </p>
                            </div>

                            <div class="col s12 m6 l6">
                                <p>
                                    <strong>
                                        Virtual Environment:
                                    </strong>
                                    Anaconda
                                </p>

                                <p>
                                    <strong>
                                        Hosting:
                                    </strong>
                                    AWS EC2
                                </p>

                                <p>
                                    <strong>
                                        Servers:
                                    </strong>
                                    Debian, Ubuntu
                                </p>

                                <p>
                                    <strong>
                                        WSGI:
                                    </strong>
                                    Gunicorn
                                </p>

                                <p>
                                    <strong>
                                        Web Server:
                                    </strong>
                                    Nginx
                                </p>

                                <p>
                                    <strong>
                                        SSL:
                                    </strong>
                                    Let's Encrypt
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <p>
                                    Other experience includes:
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m6 l6">
                                <p>
                                    <strong>
                                        API Creation:
                                    </strong>
                                    RESTful
                                </p>

                                <p>
                                    <strong>
                                        Version Control:
                                    </strong>
                                    Git, TFS
                                </p>

                                <p>
                                    <strong>
                                        Web Security:
                                    </strong>
                                    CSRF, SSL, Hashing
                                </p>

                                <p>
                                    <strong>
                                        AWS:
                                    </strong>
                                    SES, S3
                                </p>

                                <p>
                                    <strong>
                                        Email:
                                    </strong>
                                    Automation, SMTP
                                </p>

                                <p>
                                    <strong>
                                        Domains/DNS:
                                    </strong>
                                    Google Domains, GoDaddy, Bluehost
                                </p>

                                <p>
                                    <strong>
                                        Networking/Security:
                                    </strong>
                                    pfSense, UFW, SSL, SSH
                                </p>
                            </div>

                            <div class="col s12 m6 l6">
                                <p>
                                    <strong>
                                        IDE/Apps:
                                    </strong>
                                    VSCode, Postman
                                </p>

                                <p>
                                    <strong>
                                        Virtualization:
                                    </strong>
                                    XenServer, VMware, Virtualbox
                                </p>

                                <p>
                                    <strong>
                                        Servers:
                                    </strong>
                                    Windows, CentOS
                                </p>

                                <p>
                                    <strong>
                                        Desktop OS:
                                    </strong>
                                    Debian, Ubuntu, Fedora, Windows
                                </p>

                                <p>
                                    <strong>
                                        Languages:
                                    </strong>
                                    Regex, Bash, C#
                                </p>

                                <p>
                                    <strong>
                                        VPN:
                                    </strong>
                                    OpenVPN
                                </p>

                                <p>
                                    <strong>
                                        Specialized Skills:
                                    </strong>
                                    Robotic Process Automation
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>