<section id="overview">
    <div class="valign-wrapper inner-full-height">
        <div class="row no-bottom-padding">
            <div class="col s12">
                <div class="card">
                    <div class="card-content flow-text">
                        <div class="hide-on-med-and-down">
                            <div class="row valign-wrapper ov-section-row">
                                <div class="col s12 m12 l3">
                                    <img src="/static/images/me/me_pic2.jpg" alt="Birtchum Thompson" class="responsive-img">
                                </div>

                                <div class="col s12 m12 l9 ">
                                    <h3>Birtchum Thompson</h3>
                                    <p>
                                        I am a full-stack web developer with a diverse skill set and a passion for
                                        Linux. I create open source applications and freelance as a web developer.
                                        As a freelancer, I created and deployed applications for
                                        several clients,
                                        including Hillsborough Community College.
                                    </p>

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="section"></div>
                                            <a href="https://github.com/virtualzero"
                                                class="btn-flat btn-medium grey lighten-4 waves-effect waves-purple button-hover"
                                                target="_blank">
                                                <i class="fab fa-github blue-text"></i> &nbsp;GitHub
                                            </a>

                                            <a href="https://www.linkedin.com/in/birtchum/"
                                                class="btn-flat btn-medium grey lighten-4 waves-effect waves-purple button-hover"
                                                target="_blank">
                                                <i class="fab fa-linkedin blue-text"></i> &nbsp;LinkedIn
                                            </a>

                                            <a href="https://birtchum.s3.amazonaws.com/resume/Birtchum_Thompson_Resume.pdf"
                                                class="btn-flat btn-medium grey lighten-4 waves-effect waves-purple button-hover" target="_blank">
                                                <i class="far fa-file-word blue-text"></i> &nbsp;Resume
                                            </a>

                                            <a href="#contact-modal" 
                                                class="btn-flat btn-medium grey lighten-4 waves-effect waves-purple button-hover modal-trigger">
                                                <i class="fas fa-info-circle blue-text"></i> &nbsp;Contact
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hide-on-large-only center">
                            <div class="row">
                                <div class="col s12 m12 l3">
                                    <img src="/static/images/me/me_pic2.jpg" alt="" class="circle profile-image">
                                    <h4>Birtchum Thompson</h4>
                                </div>
                            </div>

                            <div class="row no-bottom-padding">
                                <div class="col s12">
                                    <p class="flow-text">
                                        I am a full-stack web developer with a diverse skill set and a passion for
                                        Linux. I create open source applications and freelance as a web developer.
                                        As a freelancer, I created and deployed applications for
                                        several clients,
                                        including Hillsborough Community College.
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="section"></div>
                                        <div class="row">
                                            <div class="col s6 m6">
                                                <a href="https://github.com/virtualzero"
                                                    class="btn-flat btn-medium grey lighten-4 waves-effect button-hover"
                                                    target="_blank">
                                                    <i class="fab fa-github blue-text"></i> &nbsp;GitHub
                                                </a>
                                            </div>

                                            <div class="col s6 m6">
                                                <a href="https://www.linkedin.com/in/birtchum/"
                                                    class="btn-flat btn-medium grey lighten-4 waves-effect button-hover"
                                                    target="_blank">
                                                    <i class="fab fa-linkedin blue-text"></i> &nbsp;LinkedIn
                                                </a>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6 m6">
                                                <a href="https://birtchum.s3.amazonaws.com/resume/Birtchum_Thompson_Resume.pdf"
                                                    class="btn-flat btn-medium grey lighten-4 waves-effect button-hover" target="_blank">
                                                    <i class="fas fa-file blue-text"></i> &nbsp;Resume
                                                </a>
                                            </div>

                                            <div class="col s6 m6">
                                                <a href="#contact-modal" class="btn-flat btn-medium grey lighten-4 waves-effect button-hover modal-trigger">
                                                    <i class="fas fa-info-circle blue-text"></i> &nbsp;Contact
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-modal" class="modal">
        <div class="modal-content flow-text">
            <div class="row no-bottom-padding">
                <div class="col s12">
                    <h4>Contact Info<a href="#!" class="modal-close waves-effect btn-flat right button-hover"><i class="fas fa-times"></i></a></h4>
                </div>
            </div>
            
            <div class="row no-bottom-padding">
                <div class="col s12 m12 l6">
                    <p>
                        <strong>
                            <i class="far fa-envelope"></i>
                        </strong> &nbsp;&nbsp;birtchum@virtualzero.net
                    </p>
                </div>

                <div class="col s12 m12 l6">
                    <p>
                        <strong>
                            <i class="fas fa-mobile-alt"></i>
                        </strong> &nbsp;&nbsp;239-224-0209
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
