<section id="overview">
    <div class="valign-wrapper" style="min-height: 100vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="hide-on-med-and-down">
                            <div class="row valign-wrapper" style="margin-bottom: 0%; min-height: 40vh;">
                                <div class="col s12 m12 l3">
                                    <img src="/static/images/me/me_pic.JPG" alt="" class="responsive-img">
                                </div>

                                <div class="col s12 m12 l9">
                                    <h3>Birtchum Thompson</h3>
                                    <p class="flow-text">
                                        I am a full-stack web developer with a diverse skill set and a passion for
                                        Linux. I operate a
                                        small web development company and have created and deployed applications for
                                        several clients,
                                        including Hillsborough Community College.
                                    </p>

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="section"></div>
                                            <a href="https://github.com/virtualzero"
                                                class="btn-flat btn-medium transparent waves-effect waves-purple button-hover no-left-padding"
                                                target="_blank">
                                                <i class="fab fa-github"></i> &nbsp;GitHub
                                            </a>

                                            <a href="https://www.linkedin.com/in/birtchum/"
                                                class="btn-flat btn-medium transparent waves-effect waves-purple button-hover"
                                                target="_blank">
                                                <i class="fab fa-linkedin"></i> &nbsp;LinkedIn
                                            </a>

                                            <a href="https://www.linkedin.com/in/birtchum/"
                                                class="btn-flat btn-medium transparent waves-effect waves-purple button-hover"
                                                target="_blank">
                                                <i class="fas fa-file"></i> &nbsp;Resume
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hide-on-large-only center">
                            <div class="row">
                                <div class="col s12 m12 l3">
                                    <img src="/static/images/me/me_pic.JPG" alt="" class="circle"
                                        style="max-height: 30vh; width: auto;">
                                    <h4>Birtchum Thompson</h4>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 0%;">
                                <div class="col s12">
                                    <p class="flow-text">
                                        I am a full-stack web developer with a diverse skill set and a passion for
                                        Linux. I operate a
                                        small web development company and have created and deployed applications for
                                        several clients,
                                        including Hillsborough Community College.
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="section"></div>
                                        <div class="row">
                                            <div class="col s4 m4">
                                                <a href="https://github.com/virtualzero"
                                                    class="btn-flat btn-medium transparent waves-effect waves-purple button-hover"
                                                    target="_blank">
                                                    <i class="fab fa-github"></i> &nbsp;GitHub
                                                </a>
                                            </div>

                                            <div class="col s4 m4">
                                                <a href="https://www.linkedin.com/in/birtchum/"
                                                    class="btn-flat btn-medium transparent waves-effect waves-purple button-hover"
                                                    target="_blank">
                                                    <i class="fab fa-linkedin"></i> &nbsp;LinkedIn
                                                </a>
                                            </div>

                                            <div class="col s4 m4">
                                                <a href="https://www.linkedin.com/in/birtchum/"
                                                    class="btn-flat btn-medium transparent waves-effect waves-purple button-hover"
                                                    target="_blank">
                                                    <i class="fas fa-file"></i> &nbsp;Resume
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>